@using Microsoft.AspNetCore.Components.Web
@using SyslogRemoteStore.Web.Models;
@inject WebAppState appState
@namespace SyslogRemoteStore.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SyslogRemoteStore.Web.styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="./Cover Template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./Cover Template for Bootstrap_files/cover.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<script src="_framework/blazor.server.js">
 </script>

 <script>
            setTimeout(()=>{



                        var image = document.querySelector('#image')
            image.addEventListener('click', ()=>{



            if (document.querySelector('#container').classList.contains('cc-closed')){
             let body = document.querySelector('#container');
                body.classList.remove("cc-closed");
                body.classList.add("cc");
                 document.querySelector('aside').classList.remove("closed");
            } else {
              let body = document.querySelector('#container');
           body.classList.remove("cc");
            body.classList.add("cc-closed");
            document.querySelector('#aside').classList.add("closed");
            }
        })



            }, 1000)



 </script>
            


</body>
</html>
