﻿@using System;
@using SyslogRemoteStore.Web.Models
@inject FileCreationService fc
@inject FileZipService fz
@inject IRadioViewModel vm
@inject CollectionStore cs
@using SyslogRemoteStore.Web.Services
@using System.Collections.Specialized



@page "/ExportPage"

<html>
<h3>ExportPage</h3>

<button @onclick="ZipFiles">Zip Files</button>


</html>

@code
{

    private void ZipFiles()
    {
        List<string> filesToZip = new List<string>();

        foreach (IGrouping<string, IT6S3> radioIpGroups in cs.Radios.GroupBy(x => x.GetFormatedIp()))
        {

            foreach (IT6S3 radio in radioIpGroups)
            {


                fc.CreateFile(radio.Logs, radio.GetFormatedIp()); //fc.CreateFile(radio.Logs, radio.GetFormatedIp(),radio.Port.ToString());
                filesToZip.Add(fc.GetFileName(radio.GetFormatedIp()));


            }
        }

        string zipFilePath = String.Format(@"{0}{1}", AppDomain.CurrentDomain.BaseDirectory, "SyslogFiles.zip"); ;

        fz.ZipFiles(zipFilePath, filesToZip);
        foreach (string file in filesToZip)
        {
            File.Delete(file);
        }

           
    }
}