@page "/fetchdata"
@inject IWeatherViewModel vm

<PageTitle>Weather forecast</PageTitle>


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (vm.IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in vm.Radios.SelectMany(x => x.Logs))
        {
            <tr>
                <td></td>
                <td>@log.Message</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        foreach (var _radio in vm.Radios)
        {
            _radio.PropertyChanged += async (sender, e) =>
            {
                await InvokeAsync(() =>
                {
                    StateHasChanged();
                });
            };
        }

        await base.OnInitializedAsync();
    }
}