@page "/LogView"


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    border: 0;
    }

    th, td {
        border: 0px solid #000;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
    }

    .buttons {
        text-align: center;
    }

    .buttons button {
        display: inline-block;
        margin: 5px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <title>SystemLogTable</title>
    <title>ScrollBar</title>
</head>
<body>
    <div class="buttons">
        <button onclick="export()">Export</button>
        <button onclick="delete()">Delete</button>
    </div>

    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search..." />
        <input type="submit" value="Search" />
    </form> 

    <table id="LogTable">
        <tr>
            <th>Received</th>
            <th>Source IP</th>
            <th>Source Item</th>
            <th>Facilty</th>
            <th>Severity</th>
            <th>TimeStamp</th>
            <th>Tag</th>
            <th>Message</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>