@inherits LayoutComponentBase

<PageTitle>SyslogRemoteStore.Web</PageTitle>

<div class="page">
       <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <NavMenu />
     
    
    <main>
  

        <article class="content modal-fullscreen">
            @Body
        </article>
    </main>
    </div>
</div>
