@inherits LayoutComponentBase

<PageTitle>SyslogRemoteStore.Web</PageTitle>

<div class="page">
    <div id="container" class="cc-closed h-100  mx-auto flex-column col-md-12">
       <NavMenu/>
        
        <main> 
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>